
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<h2>Đơn hàng của quý khách đã được ghi nhận.Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhat va giao hang dung hen </h2>
<p>
    @Html.ActionLink("Về trang chủ ", "Index", "Default")
</p>